* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --clr-main: #9999A1;
  --clr-main-light: #3C3744;
}

#root{
  width: 100%;
}

body{
}

.container {
  position: absolute; /* Posiciona el contenedor de manera absoluta */
  top: 0; /* Alinea el contenedor al borde superior */
  left: 0; /* Alinea el contenedor al borde izquierdo */
  width: 100%; /* Ocupar todo el ancho disponible */
  padding-inline: 1.5rem;
  padding-top: 6rem; /* Añadir espacio para la barra de navegación fija */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}


.main-title {
  margin-top: 2rem; /* Ajusta este valor según sea necesario */
}

.navbar {
  width: 100%; /* Ocupar todo el ancho de la pantalla */
  position: fixed; /* Fijar la barra en la parte superior */
  top: 0; /* Asegurarse de que esté en la parte superior */
  left: 0; /* Asegurarse de que comience desde la izquierda */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-main);
  border-bottom: 1px solid black;
  z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.logo {
  text-decoration: none;
  color: black;
}

.logo:hover {
  color: black;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 10%;
  transition: background-color 0.3s ease-in-out;  
}

.menu-link:hover {
  background-color: white;
  color: black;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Distribuye los elementos uniformemente */
  align-items: flex-start; /* Alinea los elementos al principio verticalmente */
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
  width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho */
}

.productos img {
  max-width: 100%; /* Para que las imágenes no se desborden del contenedor */
  height: auto; /* Para mantener la proporción de aspecto de las imágenes */
}

.producto {
  flex: 1 1 200px; /* Permite que los productos ocupen un espacio flexible y se envuelvan */
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.2s linear;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  max-width: 200px;
}

.producto:hover{
  transform: scale(1.05);
}

.producto > div {
  padding: 1rem;
  background-color: var(--clr-main-light);
  color: white;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-height: 10.5rem;
  max-height: 10.5rem;
}

.producto > img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.ver-mas-container{
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.producto .ver-mas {
  text-decoration: none;
  background-color: #C1292E;
  color: white;
  padding: .5rem;
  width: max-content;
  border-radius: .5rem;
  transition: .2s;  
}

.producto .ver-mas:hover {
  background-color: black;
  color: white;
}

.producto-detalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  padding: 1rem;
  width: 50%;
}

.producto-detalle img {
  min-width: 400px;
}

.producto-detalle-info h3 {
  font-size: 2rem;
}

.categoria {
  font-size: .8rem;
  color: #424242;
  margin-top: 1rem;
}

.precio {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}

.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.item-count button, .agregar-al-carrito, .enviar {
  background-color: var(--clr-main);
  border: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
}

.item-count button:hover, .agregar-al-carrito:hover, .enviar:hover {
  background-color: white;
  color: black;
}

.agregar-al-carrito, .enviar {
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
}

.formulario input {
  padding: .5rem;
  width: 18rem;
  border-radius: .5rem;
  border: 2px solid black;
}

.formulario input:focus {
  outline: 0;
  border: 2px solid var(--clr-main);
  outline: 2px solid var(--clr-main);
}


